<h1>Pusher Example</h1>

<%= form_for :message, :url => send_message_path, :method => "post", :remote => true do |f| %>
  <div><%= f.text_area :text, :rows => 5 %></div>
  <%= f.submit "Send" %>
<% end %>

<ul id="messages">
  <% @messages.each do |message| %>
    <li><%= message.content %></li>
  <% end %>
</ul>